{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.10.3"}}
 :aliases
 {:rand-pm {:main-opts ["-m" "thaenalpha.randpm"]}
  :rand-ompth {:main-opts ["--main" "thaenalpha.rand-oh-my-posh-themes"]}
  :rand-c {:exec-fn thaenalpha.randpm/crypto}
  :rand-ua {:exec-fn thaenalpha.randpm/archive-format}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}}}
  :runner
  {:extra-deps {com.cognitect/test-runner
                {:git/url "https://github.com/cognitect-labs/test-runner"
                 :sha "b6b3193fcc42659d7e46ecd1884a228993441182"}}
   :main-opts ["-m" "cognitect.test-runner"
               "-d" "test"]}
  :uberjar {:replace-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
            :exec-fn hf.depstar/uberjar
            :exec-args {:aot true
                        :jar "randpm.jar"
                        :main-class "thaenalpha.randpm"
                        :sync-pom true}}}}
